<!DOCTYPE html>
<html>
  <style>
    body {
      background: #2e2e2e;
      color: #fff;
    }
  </style>
  <head>
    <title>MPS API</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>MPS API</h1>
    <p>Welcome to MPS</p>
  </body>
</html>
